<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.AttendanceMapper">

	<!-- 근태보고 출력 -->
	<select id="selectTime" parameterType="map" resultType="com.gd.foodbee.dto.AttendanceDTO">
    	SELECT 
            emp_no empNo, 
            date, 
            DATE_FORMAT(start_time, '%H:%i') startTime, 
            DATE_FORMAT(end_time, '%H:%i') endTime,
            DATE_FORMAT(update_start_time, '%H:%i') updateStartTime,
            DATE_FORMAT(update_end_time, '%H:%i') updateEndTime
        FROM 
            attendance 
        WHERE 
            emp_no = #{empNo} 
            AND date = #{date}
	</select>
	
	<!-- 근태보고(승인자) 출력 -->
	<select id="selectTeamLeader" parameterType="String" resultType="map">
		SELECT 
			rank_name rankName, 
			emp_name empName
		FROM 
			emp
		WHERE 
			dpt_no = #{dptNo} 
			AND rank_name = '팀장'
	</select>
	
	<!-- 팀장이상급 승인자 / CEO -->
	<select id="selectCEO" resultType="map">
		SELECT 
			rank_name rankName, 
			emp_name empName
		FROM 
			emp
		WHERE 
			rank_name = 'CEO'
	</select>
	
	<!-- 근태보고 수정 -->
	<update id="updateTime" parameterType="map">
		UPDATE 
			attendance 
		SET 
			update_start_time = CONCAT(DATE(update_start_time), ' ', #{updateStartTime}, ':00'), 
			update_end_time = CONCAT(DATE(update_end_time), ' ', #{updateEndTime}, ':00'),
			update_reason = #{updateReason}
		WHERE 
			emp_no = #{empNo} 
			AND date = #{date}
	</update>
	
	<!-- 개인 근태 출력 -->
	<select id="selectAttendancePersonal" parameterType="map" resultType="com.gd.foodbee.dto.AttendanceDTO">
		SELECT 
			emp_no empNo, 
			date, 
			DATE_FORMAT(start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(end_time, '%H:%i') endTime,
			DATE_FORMAT(update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(update_end_time, '%H:%i') updateEndTime,
			update_reason updateReason,
			CASE
		        WHEN 
		        	approval_state = 1 THEN '미승인'
		        WHEN 
		        	approval_state = 2 THEN '승인'
		        WHEN 
		        	approval_state = 9 THEN '반려'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	start_time = update_start_time 
	            	AND end_time = update_end_time 
	            THEN 'x'
	            ELSE 'o'
        	END updateStatus
		FROM 
			attendance 
		WHERE 
			emp_no = #{empNo}
			<if test="startDate != null and endDate != null">
	           	AND date BETWEEN #{startDate} AND #{endDate}
	       	</if>	
		ORDER BY 
			date DESC
		<if test="startDate == null and endDate == null">
        	LIMIT 
        		#{beginRow}, #{rowPerPage}
    	</if>
	</select>
	
	<!-- 개인 근태 cnt -->
	<select id="selectAttendancePersonalCnt" parameterType="int" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			attendance
		WHERE 
			emp_no = #{empNo}
	</select>
	
	<!-- 근태 확정 -->
	<update id="updateAttendanceFinalTime" parameterType="map">
		UPDATE 
			attendance 
		SET 
			final_time = NOW(),
			approval_state = 1
		WHERE 
			date = #{date}
			AND	emp_no = #{empNo}
	</update>
	
	<!-- 팀원 근태 출력 -->
	<select id="selectAttendanceTeamMember" parameterType="map" resultType="map">
		SELECT 
			a.emp_no empNo, 
			e.emp_name empName, 
			a.date date, 
			DATE_FORMAT(a.start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(a.end_time, '%H:%i') endTime,
			DATE_FORMAT(a.update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(a.update_end_time, '%H:%i') updateEndTime,
			CASE
		        WHEN 
		        	a.approval_state = 1 THEN '미승인'
		        WHEN 
		        	a.approval_state = 2 THEN '승인'
		        WHEN 
		        	a.approval_state = 9 THEN '반려'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	a.start_time = a.update_start_time 
	            	AND a.end_time = a.update_end_time 
	            THEN 'x'
	            ELSE '사유 확인'
        	END updateStatus,
			a.update_reason updateReason, 
			DATE_FORMAT(a.final_time, '%Y-%m-%d %H:%i') finalTime
		FROM 
			attendance a 
		INNER JOIN 
			emp e ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND	a.emp_no != #{empNo}
			AND a.approval_state != 0
		    <if test="search != null and search != ''">
		        AND e.emp_name LIKE '%${search}%'
		    </if>
		ORDER BY 
			date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>	
	
	<!-- 팀원 근태 출력 승인 상태별 분기 -->
	<select id="selectAttendanceTeamMemberByStatus" parameterType="map" resultType="map">
		SELECT 
			a.emp_no empNo, 
			e.emp_name empName, 
			a.date date, 
			DATE_FORMAT(a.start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(a.end_time, '%H:%i') endTime,
			DATE_FORMAT(a.update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(a.update_end_time, '%H:%i') updateEndTime,
			CASE
		        WHEN 
		        	a.approval_state = 1 THEN '미승인'
		        WHEN 
		        	a.approval_state = 2 THEN '승인'
		        WHEN 
		        	a.approval_state = 9 THEN '반려'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	a.start_time = a.update_start_time 
	            	AND 
	            	a.end_time = a.update_end_time 
	            THEN 'x'
	            ELSE '사유 확인'
        	END updateStatus,
			a.update_reason updateReason, 
			DATE_FORMAT(a.final_time, '%Y-%m-%d %H:%i') finalTime
		FROM 
			attendance a 
		INNER JOIN 
			emp e ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND a.emp_no != #{empNo}
			AND a.approval_state = #{approvalState}
		    <if test="search != null and search != ''">
		    	AND (e.emp_name LIKE '%${search}%')
		    </if>
		ORDER BY 
			date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 팀원 근태 cnt -->
	<select id="selectAttendanceTeamMemberCnt" parameterType="map" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			attendance a			 
		INNER JOIN 
			emp e ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND a.emp_no != #{empNo}
	</select>
	
	<!-- 팀원 근태 승인 상태별 cnt -->
	<select id="selectAttendanceTeamMemberByStatusCnt" parameterType="map" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			attendance a			 
		INNER JOIN 
			emp e ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND a.emp_no != #{empNo}
			AND a.approval_state = #{approvalState}
	</select>
	
	<!-- 근태 반려 -->
	<update id="updateAttendanceRejection" parameterType="map">
		UPDATE 
			attendance 
		SET 
			approval_state = 9,
			approval_reason = #{approvalReason}
		WHERE
			emp_no = #{empNo}
			AND date = #{date}
	</update>
	
	<!-- 근태 승인 -->
	<update id="updateAttendanceAccept" parameterType="map">
		UPDATE 
			attendance 
		SET 
			approval_state = 2,
			approval_datetime = NOW()
		WHERE
			emp_no = #{empNo}
			AND date = #{date}
	</update>
</mapper>