<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.AttendanceMapper">

	<!-- 근태보고 출력 -->
	<select id="selectTime" resultType="com.gd.foodbee.dto.AttendanceDTO" parameterType="int">
		SELECT 
			emp_no empNo, 
			date, 
			DATE_FORMAT(start_time, '%H:%i') startTime, 
			DATE_FORMAT(end_time, '%H:%i') endTime,
			DATE_FORMAT(update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(update_end_time, '%H:%i') updateEndTime
		FROM 
			attendance 
		WHERE 
			emp_no = #{empNo} 
			AND 
			date = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
		ORDER BY 
			date DESC
	</select>
	
	<!-- 근태보고(승인자) 출력 -->
	<select id="selectTeamLeader" resultType="map" parameterType="String">
		SELECT 
			rank_name rankName, 
			emp_name empName
		FROM 
			emp
		WHERE 
			dpt_no = #{dptNo} 
			AND 
			rank_name = '팀장'
	</select>
	
	<!-- 근태보고 수정 -->
	<update id="updateTime" parameterType="map">
		UPDATE 
			attendance 
		SET 
			update_start_time = CONCAT(DATE(update_start_time), ' ', #{updateStartTime}, ':00'), 
			update_end_time = CONCAT(DATE(update_end_time), ' ', #{updateEndTime}, ':00'),
			update_reason = #{updateReason}
		WHERE 
			emp_no = #{empNo} 
			AND 
			date = DATE_SUB(CURDATE(), INTERVAL 1 DAY)
	</update>
	
	<!-- 개인 근태 출력 -->
	<select id="selectAttendancePersonal" resultType="com.gd.foodbee.dto.AttendanceDTO" parameterType="map">
		SELECT 
			emp_no empNo, 
			date, 
			DATE_FORMAT(start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(end_time, '%H:%i') endTime,
			DATE_FORMAT(update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(update_end_time, '%H:%i') updateEndTime,
			update_reason updateReason,
			CASE
		        WHEN 
		        	approval_state = 0 THEN '미승인'
		        WHEN 
		        	approval_state = 1 THEN '승인'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	start_time = update_start_time 
	            	AND 
	            	end_time = update_end_time 
	            THEN 'x'
	            ELSE 'o'
        	END updateStatus
		FROM 
			attendance 
		WHERE 
			emp_no = #{empNo}
			<if test="startDate != null and endDate != null">
	           	AND date BETWEEN #{startDate} AND #{endDate}
	       	</if>	
		ORDER BY 
			date DESC
		<if test="startDate == null and endDate == null">
        	LIMIT 
        		#{beginRow}, #{rowPerPage}
    	</if>
	</select>
	
	<!-- 개인 근태 cnt -->
	<select id="selectAttendancePersonalCnt" resultType="int" parameterType="int">
		SELECT 
			COUNT(*)
		FROM 
			attendance
		WHERE 
			emp_no = #{empNo}
	</select>
	
	<!-- 근태 확정 -->
	<update id="updateAttendanceFinalTime" parameterType="map">
		UPDATE 
			attendance 
		SET 
			final_time = NOW()
		WHERE 
			date = #{date}
			AND
			emp_no = #{empNo}
	</update>
	
	<!-- 팀원 근태 출력 -->
	<select id="selectAttendanceTeamMember" resultType="map" parameterType="map">
		SELECT 
			a.emp_no empNo, 
			e.emp_name empName, 
			a.date date, 
			DATE_FORMAT(a.start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(a.end_time, '%H:%i') endTime,
			DATE_FORMAT(a.update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(a.update_end_time, '%H:%i') updateEndTime,
			CASE
		        WHEN 
		        	a.approval_state = 0 THEN '미승인'
		        WHEN 
		        	a.approval_state = 1 THEN '승인'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	a.start_time = a.update_start_time 
	            	AND 
	            	a.end_time = a.update_end_time 
	            THEN 'x'
	            ELSE '사유 확인'
        	END updateStatus,
			a.update_reason updateReason, 
			a.final_time finalTime
		FROM 
			attendance a 
			INNER JOIN 
				emp e
				ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND
			a.emp_no != #{empNo}
		    <if test="search != null and search != ''">
		        AND (
		            e.emp_name LIKE '%${search}%'
		        )
		    </if>
		ORDER BY 
			date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>	
	
	<!-- 팀원 근태 출력 승인 상태별 분기 -->
	<select id="selectAttendanceTeamMemberByStatus" resultType="map" parameterType="map">
		SELECT 
			a.emp_no empNo, 
			e.emp_name empName, 
			a.date date, 
			DATE_FORMAT(a.start_time, '%H:%i') startTime, 		 
			DATE_FORMAT(a.end_time, '%H:%i') endTime,
			DATE_FORMAT(a.update_start_time, '%H:%i') updateStartTime,
			DATE_FORMAT(a.update_end_time, '%H:%i') updateEndTime,
			CASE
		        WHEN 
		        	a.approval_state = 0 THEN '미승인'
		        WHEN 
		        	a.approval_state = 1 THEN '승인'
		        ELSE '알 수 없음'
		    END approvalState,
			CASE 
	            WHEN 
	            	a.start_time = a.update_start_time 
	            	AND 
	            	a.end_time = a.update_end_time 
	            THEN 'x'
	            ELSE '사유 확인'
        	END updateStatus,
			a.update_reason updateReason, 
			a.final_time finalTime
		FROM 
			attendance a 
			INNER JOIN 
				emp e
				ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND
			a.emp_no != #{empNo}
			AND 
			a.approval_state = #{approvalState}
		    <if test="search != null and search != ''">
		        AND (
		            e.emp_name LIKE '%${search}%'
		        )
		    </if>
		ORDER BY 
			date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 팀원 근태 cnt -->
	<select id="selectAttendanceTeamMemberCnt" resultType="int" parameterType="map">
		SELECT 
			COUNT(*)
		FROM 
			attendance a			 
			INNER JOIN 
				emp e
				ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND
			a.emp_no != #{empNo}
	</select>
	
	<!-- 팀원 근태 승인 상태별 cnt -->
	<select id="selectAttendanceTeamMemberByStatusCnt" resultType="int" parameterType="map">
		SELECT 
			COUNT(*)
		FROM 
			attendance a			 
			INNER JOIN 
				emp e
				ON a.emp_no = e.emp_no
		WHERE 
			e.dpt_no = #{dptNo} 
			AND
			a.emp_no != #{empNo}
			AND 
			a.approval_state = #{approvalState}
	</select>
	
</mapper>