<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.AuthorityMapper">
	<select id="selectAccessPageListByRankName" parameterType="String" resultType="String">
		SELECT
			a.access_page
		FROM
			authority a
		INNER JOIN
			`rank` r ON r.authority_code = a.authority_code
		WHERE
			r.rank_name = #{rankName};
	</select>
	<select id="selectAccessPageListByDptNo" parameterType="String" resultType="String">
		SELECT
			a.access_page
		FROM
			authority a
		INNER JOIN
			`group` g ON g.authority_code = a.authority_code
		WHERE
			g.dpt_no = #{dptNo};
	</select>
</mapper>