<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="com.gd.foodbee.dto.BoardDTO">
	<selectKey resultType="int" order="AFTER" keyProperty="boardNo">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO board (
			title,
			board_category,
			create_datetime,
			content,
			board_pw
		) VALUES (
			#{title},
			#{boardCategory},
			NOW(),
			#{content},
			SHA2(#{boardPw},256)
		)
	
	</insert>
	<select id="selectBoardList" resultType="Map">
		SELECT 
			ROW_NUMBER() OVER(ORDER BY createDatetime) boardOrder,
			b.board_no boardNo,
			b.title,
			b.board_category boardCategory, 
			b.view,
			COUNT(bc.comment_no) commentCnt,
			DATE_FORMAT(b.create_datetime,'%Y-%m-%d %H:%i') createDatetime,
			b.like_cnt likeCnt
		FROM board b 
		LEFT JOIN board_comment bc ON b.board_no = bc.board_no 
		WHERE
			1=1
			<if test='category == "chat"'>
				AND b.board_category = '잡담' 
			</if>
			<if test='category == "company"'>
				AND b.board_category = '회사이야기' 
			</if>
			<if test='category == "question"'>
				AND b.board_category = '질문' 
			</if>
			<if test='keyword != null and keyword != ""'>
        		AND b.title LIKE CONCAT('%', #{keyword}, '%')
   			</if>
		GROUP BY b.board_no
		ORDER BY boardOrder DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>



</mapper>