<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.DraftDocDetailMapper">
	<insert id="insertDraftDocDetail" parameterType="com.gd.foodbee.dto.DraftDocDetailDTO">
		INSERT INTO draft_doc_detail (
			draft_doc_order,
			draft_doc_no, 
			start_date,
			end_date, 
			type_name, 
			amount, 
			description,
			text
		) VALUES (
			#{draftDocOrder},
			#{draftDocNo},
			<if test="startDate != null">
			#{startDate}
			</if>
			<if test="startDate == null">
			NULL
			</if>,
			<if test="endDate != null">
			#{endDate}
			</if>
			<if test="endDate == null">
			NULL
			</if>,
			<if test="typeName != null">
			#{typeName}
			</if>
			<if test="typeName == null">
			NULL
			</if>,
			<if test="amount != null and amount != 0">
            #{amount}
        	</if>
        	<if test="amount == null or amount == 0">
            NULL
       		</if>,
       		<if test="description != null">
            #{description}
        	</if>
        	<if test="description == null">
            NULL
       		</if>,
			<if test="text != null">
            #{text} 
        	</if>
        	<if test="text == null">
            NULL
       		</if>
			
		)
	</insert>
	<delete id="deleteDraftDocDetail" parameterType="int">
		DELETE
		FROM
			draft_doc_detail
		WHERE
			draft_doc_no = #{draftDocNo}
	</delete>




</mapper>