<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.EmpMapper">
	<select id="selectEmpByNoAndPw" parameterType="com.gd.foodbee.dto.LoginDTO" resultType="com.gd.foodbee.dto.EmpDTO">
		SELECT
			emp_no empNo,
			emp_name empName,
			rank_name rankName,
			dpt_no dptNo
		FROM 
			emp
		WHERE 
			emp_no = #{empNo} 
			AND emp_pw = SHA2(#{empPw},256)
	</select>
	<select id="selectEmpByNoAndEmail" parameterType="Map" resultType="com.gd.foodbee.dto.EmpDTO">
		SELECT
			emp_no empNo,
			emp_name empName,
			emp_email empEmail
		FROM 
			emp
		WHERE 
			emp_no = #{empNo} 
			AND emp_email = #{empEmail}
	</select>
	<update id="updateEmpPw" parameterType="Map">
		UPDATE 
			emp
		SET
			emp_pw = SHA2(#{empPw},256),
			pw_update_datetime = NOW()
		WHERE
			emp_no = #{empNo}
	</update>
	
	<update id="updateEmpSignup" parameterType="com.gd.foodbee.dto.EmpDTO">
		UPDATE 
			emp
		SET
			contact = #{contact},
			post_no = #{postNo},
			address = #{address},
			emp_pw = SHA2(#{empPw},256),
			pw_update_datetime = NOW(),
			signup_YN = 'Y',
			signup_date = NOW()
		WHERE
			emp_no = #{empNo}
	
	</update>
	<select id="selectEmpNoDuplicate" parameterType="int" resultType="String">
		SELECT
			emp_name empName
		FROM
			emp
		WHERE 
			emp_no = #{empNo} 
			AND signup_YN = 'Y';
	</select>
	<select id="selectEmpNoMax" resultType="int">
     	SELECT
    		MAX(emp_no) empNo
    	FROM emp
    </select>
    <insert id="insertEmp" parameterType="com.gd.foodbee.dto.EmpDTO">
		INSERT INTO emp(
			emp_no, 
			emp_name,
			emp_state,
			dpt_no,
			rank_name,
			start_date,
			emp_email	
		) VALUES (
			#{empNo},
			#{empName},
			#{empState},
			#{dptNo},
			#{rankName},
			#{startDate},
			#{empEmail}
		)
	</insert>
	<select id="selectEmpList" parameterType="Map" resultType="com.gd.foodbee.dto.EmpSearchDTO">
		SELECT
			e.emp_name empName,
			e.emp_no empNo,
			e.emp_email empEmail,			
			e.ext_no extNo,
			e.start_date startDate,
			e.signup_YN signupYN,
			e.rank_name rankName,
			o.dpt_name officeName,
			d.dpt_name deptName,
			t.dpt_name teamName
		FROM 
			emp e
		LEFT JOIN
			`group` t ON t.dpt_no = e.dpt_no
		LEFT JOIN
			`group` d ON t.superior_dpt_no = d.dpt_no
		LEFT JOIN
			`group` o ON d.superior_dpt_no = o.dpt_no
		WHERE
			1=1
			AND emp_no != #{empNo}
			<if test="empSearchDTO.officeName != null and empSearchDTO.officeName != ''">
                AND o.dpt_name = #{empSearchDTO.officeName}
            </if>
            <if test="empSearchDTO.deptName != null and empSearchDTO.deptName != ''">
                AND d.dpt_name = #{empSearchDTO.deptName}
            </if>
           <if test="empSearchDTO.teamName != null and empSearchDTO.teamName != ''">
                AND t.dpt_name = #{empSearchDTO.teamName}
            </if>
            <if test="empSearchDTO.rankName != null and empSearchDTO.rankName != ''">
                AND e.rank_name = #{empSearchDTO.rankName}
            </if>
            <if test="empSearchDTO.signupYN != null and empSearchDTO.signupYN != ''">
                AND e.signup_YN = #{empSearchDTO.signupYN}
            </if>
            <if test="empSearchDTO.empNo != null and empSearchDTO.empNo != ''">
                AND e.emp_no LIKE '%${empSearchDTO.empNo}%'
            </if>
		ORDER BY 
			emp_name
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	<select id="selectEmpCount" parameterType="Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			emp e
		LEFT JOIN
			`group` t ON t.dpt_no = e.dpt_no
		LEFT JOIN
			`group` d ON t.superior_dpt_no = d.dpt_no
		LEFT JOIN
			`group` o ON d.superior_dpt_no = o.dpt_no
		WHERE
			1=1
			<if test="officeName != null and officeName != ''">
                AND o.dpt_name = #{officeName}
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dpt_name = #{deptName}
            </if>
           <if test="teamName != null and teamName != ''">
                AND t.dpt_name = #{teamName}
            </if>
            <if test="rankName != null and rankName != ''">
                AND e.rank_name = #{rankName}
            </if>
            <if test="signupYN != null and signupYN != ''">
                AND e.signup_YN = #{signupYN}
            </if>
            <if test="empNo != null and empNo != ''">
                AND e.emp_no LIKE '%${empNo}%'
            </if>
	</select>
	<select id="selectEmpEmailByEmpNo" parameterType="int" resultType="String">
		SELECT
			emp_email empEmail
		FROM 
			emp
		WHERE
			emp_no = #{empNo}
	</select>
	<select id="selectEmpPersnal" parameterType="int" resultType="Map">
		SELECT
			emp_no empNo,
			contact,
			post_no postNo,
			address,
			emp_email empEmail
		FROM
			emp
		WHERE
			emp_no = #{empNo}
	</select>
	<select id="selectEmpHr" parameterType="int" resultType="Map">
		SELECT
			e.emp_no empNo,
			e.emp_name empName,
			e.ext_no extNo,
			e.start_date startDate,
			e.end_date endDate,
			e.rank_name rankName,
			sc.state_code_name empState,
			sc.state_code empStateCode,
			g.dpt_name teamName,
			g.dpt_no teamNo,
			sg.dpt_name deptName,
			sg.dpt_no deptNo,
			ssg.dpt_name officeName,
			ssg.dpt_no officeNo,
			i.original_file originalFile,
			s.approval_sign_file approvalSignFile
		FROM
			emp e
		LEFT JOIN
			profile_img i ON e.emp_no = i.emp_no
		LEFT JOIN
			approval_sign s ON s.emp_no = e.emp_no
		LEFT JOIN
			`group` g ON g.dpt_no = e.dpt_no
		INNER JOIN
			`group` sg ON sg.dpt_no = g.superior_dpt_no
		INNER JOIN
			`group` ssg ON ssg.dpt_no = sg.superior_dpt_no
		INNER JOIN
			state_code sc ON sc.state_code = e.emp_state
				AND sc.state_cf_code = 'EMP'
		WHERE
			e.emp_no = #{empNo}
	</select>
	<update id="updateEmpHr" parameterType="com.gd.foodbee.dto.EmpDTO">
		UPDATE
			emp
		SET
			<if test="dptNo != null and dptNo != ''">
               dpt_no = #{dptNo},
            </if>
            end_date = #{endDate},
			emp_state = #{empState},
			rank_name = #{rankName}
		WHERE
			emp_no = #{empNo}
	</update>
	<update id="updateEmpPwMyPage" parameterType="Map">
		UPDATE
			emp
		SET
			emp_pw = SHA2(#{newPw},256)
		WHERE
			emp_no = #{empNo}
			AND emp_pw = SHA2(#{oldPw},256)
	</update>
	<update id="updateEmpPersnalMyPage" parameterType="com.gd.foodbee.dto.EmpDTO">
		UPDATE
			emp
		SET
			emp_email = #{empEmail},
			contact = #{contact},
			post_no = #{postNo},
			address = #{address}
		WHERE
			emp_no = #{empNo}
	</update>
</mapper>