<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.EmpMapper">
	<select id="selectEmpByNoAndPw" parameterType="com.gd.foodbee.dto.LoginDTO" resultType="com.gd.foodbee.dto.EmpDTO">
		SELECT
			emp_no empNo,
			emp_name empName,
			rank_name rankName,
			dpt_no dptNo
		FROM emp
		WHERE 
			emp_no = #{empNo} 
			AND emp_pw = SHA2(#{empPw},256)
	</select>
	<select id="selectEmpByNoAndEmail" parameterType="map" resultType="com.gd.foodbee.dto.EmpDTO">
		SELECT
			emp_no empNo,
			emp_name empName,
			emp_email empEmail
		FROM emp
		WHERE 
			emp_no = #{empNo} 
			AND emp_email = #{empEmail}
	</select>
	<update id="updateEmpPw" parameterType="map">
		UPDATE emp
		SET
			emp_pw = SHA2(#{empPw},256),
			pw_update_datetime = NOW()
		WHERE
			emp_no = #{empNo}
	</update>
	
	<update id="updateEmpSignup" parameterType="com.gd.foodbee.dto.EmpDTO">
		UPDATE emp
		SET
			contact = #{contact},
			post_no = #{postNo},
			address = #{address},
			emp_pw = SHA2(#{empPw},256),
			pw_update_datetime = NOW(),
			signup_YN = 'Y',
			signup_date = NOW()
		WHERE
			emp_no = #{empNo}
	
	</update>
	<select id="selectEmpNoDuplicate" parameterType="int" resultType="String">
	SELECT
		emp_name
	FROM
		emp
	WHERE emp_no = #{empNo} AND signup_YN = 'Y';
	</select>
	<select id="selectEmpNoMax" resultType="int">
     	SELECT
    		MAX(emp_no) empNo
    	FROM emp
    </select>
    <insert id="insertEmp" parameterType="com.gd.foodbee.dto.EmpDTO">
		INSERT INTO emp(
			emp_no, 
			emp_name,
			emp_state,
			dpt_no,
			rank_name,
			start_date,
			emp_email	
		) VALUES (
			#{empNo},
			#{empName},
			#{empState},
			#{dptNo},
			#{rankName},
			#{startDate},
			#{empEmail}
		)
	</insert>
	<select id="selectEmpList" parameterType="com.gd.foodbee.dto.EmpSearchDTO" resultType="com.gd.foodbee.dto.EmpSearchDTO">
		SELECT
			e.emp_name empName,
			e.emp_no empNo,
			e.ext_no extNo,
			e.start_date startDate,
			e.signup_YN signupYN,
			e.rank_name rankName,
			o.dpt_name officeName,
			d.dpt_name deptName,
			t.dpt_name teamName
		FROM emp e
		INNER JOIN
			`group` t ON t.dpt_no = e.dpt_no
		INNER JOIN
			`group` d ON t.superior_dpt_no = d.dpt_no
		INNER JOIN
			`group` o ON d.superior_dpt_no = o.dpt_no
		WHERE
			1=1
			<if test="officeName != null and officeName != ''">
                AND o.dpt_name = #{officeName}
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dpt_name = #{deptName}
            </if>
           <if test="teamName != null and teamName != ''">
                AND t.dpt_name = #{teamName}
            </if>
            <if test="rankName != null and rankName != ''">
                AND e.rank_name = #{rankName}
            </if>
            <if test="signupYN != null and signupYN != ''">
                AND e.signup_YN = #{signupYN}
            </if>
            <if test="empNo != null and empNo != ''">
                AND e.emp_no LIKE '%${empNo}%'
            </if>
		ORDER BY emp_name;	
	</select>
	<select id="selectEmpEmailByEmpNo" parameterType="int" resultType="String">
		SELECT
			emp_email empEmail
		FROM emp
		WHERE
			emp_no = #{empNo}
	</select>
</mapper>