<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.GroupMapper">
	<select id="selectOfficeList" resultType="com.gd.foodbee.dto.GroupDTO">
		SELECT 
		   dpt_name dptName,
		   dpt_no dptNo
		FROM `group`
		WHERE 
		   dpt_name LIKE '%사'
	</select>
	<select id="selectDeptList" parameterType="String" resultType="com.gd.foodbee.dto.GroupDTO">
		SELECT 
		   dpt_name dptName,
		   dpt_no dptNo
		FROM `group`
		WHERE 
		   superior_dpt_no = #{dptNo} 
		   AND dpt_name LIKE '%부서';
	</select>
	<select id="selectTeamList" parameterType="String" resultType="com.gd.foodbee.dto.GroupDTO">
		SELECT 
		   dpt_name dptName,
		   dpt_no dptNo
		FROM `group`
		WHERE 
		   superior_dpt_no = #{dptNo};	
	</select>
</mapper>