<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.MsgMapper">
	<insert id="insertMsg" parameterType="com.gd.foodbee.dto.MsgDTO">
	<selectKey resultType="int" order="AFTER" keyProperty="msgNo">
        SELECT LAST_INSERT_ID()
    </selectKey>
		INSERT INTO msg(
			sender_emp_no,
			title,
			content,
			create_datetime,
			msg_state
		) VALUES (
			#{senderEmpNo},
			#{title},
			#{content},
			NOW(),
			1
		
		)
	</insert>
	<select id="selectReceivedMsgList" parameterType="Map" resultType="Map">
		SELECT
			ROW_NUMBER() OVER(ORDER BY createDatetime) msgOrder,
			m.msg_no msgNo,
			e.emp_name empName,
			m.title,
			DATE_FORMAT(m.create_datetime,'%Y-%m-%d %H:%i') createDatetime,
			CASE
        		WHEN mr.read_YN = 'Y' THEN '읽음'
        		WHEN mr.read_YN = 'N' THEN '안읽음'
    			END AS readYN
		FROM
			msg m
		INNER JOIN
			msg_recipient mr ON m.msg_no = mr.msg_no
		INNER JOIN
			emp e ON e.emp_no = m.sender_emp_no
		WHERE
			mr.recipient_emp_no = #{empNo}
			AND mr.recipient_msg_state = 1
		<if test='readYN == "Y"'>
			AND mr.read_YN = 'Y'
		</if>
		<if test='readYN == "N"'>
			AND mr.read_YN = 'N'
		</if>
		ORDER BY 
			msgOrder DESC
		LIMIT
			#{beginRow},#{rowPerPage}
	</select>
	<update id="updateMsgToTrash" parameterType="int">
		UPDATE
			msg
		SET
			msg_state = 0,
			state_update_datetime = NOW()
		WHERE
			msg_no = #{msgNo}
	</update>
	
	<select id="selectSentMsgList" parameterType="Map" resultType="Map">
		SELECT
			ROW_NUMBER() OVER(ORDER BY createDatetime) msgOrder,
			m.msg_no msgNo,
			GROUP_CONCAT(e.emp_name SEPARATOR ',') empName,
			m.title,
			DATE_FORMAT(m.create_datetime,'%Y-%m-%d %H:%i') createDatetime,
	        CASE
	            WHEN SUM(CASE WHEN mr.read_YN = 'Y' THEN 1 ELSE 0 END) = COUNT(mr.msg_no) THEN '읽음'
	            ELSE '안읽음'
	        	END AS readYN
		FROM
			msg m
		INNER JOIN
			msg_recipient mr ON m.msg_no = mr.msg_no
		INNER JOIN
			emp e ON e.emp_no = mr.recipient_emp_no
		WHERE
			m.sender_emp_no = #{empNo}
			AND m.msg_state = 1
		GROUP BY 
			m.msg_no
		<if test='readYN == "Y"'>
        	HAVING SUM(CASE WHEN mr.read_YN = 'Y' THEN 1 ELSE 0 END) = COUNT(mr.msg_no)
        </if>
        <if test='readYN == "N"'>
            HAVING SUM(CASE WHEN mr.read_YN = 'Y' THEN 1 ELSE 0 END) != COUNT(mr.msg_no)
        </if>
		ORDER BY 
			msgOrder DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	<select id="selectMsgOne" parameterType="int" resultType="Map">
		SELECT
			m.msg_no msgNo,
			se.emp_name sender,
			GROUP_CONCAT(e.emp_name SEPARATOR ',') receivers,
			m.title,
			m.content,
			mr.read_YN readYN,
			originalFiles,
			saveFiles,
			DATE_FORMAT(m.create_datetime,'%Y-%m-%d %H:%i') createDatetime
		FROM
			msg m
		INNER JOIN
			msg_recipient mr ON m.msg_no = mr.msg_no
		INNER JOIN
			emp e ON e.emp_no = mr.recipient_emp_no
		INNER JOIN
			emp se ON se.emp_no = m.sender_emp_no
		LEFT JOIN 
			(SELECT
        		msg_no,
        		GROUP_CONCAT(original_file SEPARATOR ',') originalFiles,
        		GROUP_CONCAT(save_file SEPARATOR ',') saveFiles
    		 FROM 
    		 	msg_file
    		 GROUP BY 
    		 	msg_no) mf ON m.msg_no = mf.msg_no
		WHERE
			m.msg_no = #{msgNo}
	</select>
	<update id="updateMsgToMsgBox" parameterType="int">
		UPDATE
			msg
		SET
			msg_state = 1,
			state_update_datetime = NOW()
		WHERE
			msg_no = #{msgNo}
	</update>
	<select id="selectTrashMsgList"  parameterType="Map" resultType="Map">
		SELECT 
			ROW_NUMBER() OVER(ORDER BY updateDatetime) msgOrder,
			msgNo,
			senderName,
			receiverName,
			title,
			updateDatetime
		FROM
			(SELECT
			    m.msg_no msgNo,
			    sender.emp_name senderName,
			    GROUP_CONCAT(recipient.emp_name SEPARATOR ',') receiverName,
			    m.title,
			    DATE_FORMAT(m.state_update_datetime, '%Y-%m-%d %H:%i') updateDatetime
			 FROM
				msg m
			 INNER JOIN
    			emp sender ON m.sender_emp_no = sender.emp_no
			 INNER JOIN
    			msg_recipient mr ON m.msg_no = mr.msg_no
			 INNER JOIN
   				emp recipient ON mr.recipient_emp_no = recipient.emp_no
			 WHERE
    			m.sender_emp_no = #{empNo}
    			AND m.msg_state = 0
			 GROUP BY
   				m.msg_no
		UNION
			SELECT
			    m.msg_no msgNo,
			    sender.emp_name senderName,
			    e.emp_name receiverName,
			    m.title,
			    DATE_FORMAT(mr.state_update_datetime, '%Y-%m-%d %H:%i') updateDatetime
			FROM
			    msg m
			INNER JOIN
			    emp sender ON m.sender_emp_no = sender.emp_no
			INNER JOIN
			    msg_recipient mr ON m.msg_no = mr.msg_no
			INNER JOIN
			    emp e ON mr.recipient_emp_no = e.emp_no
			WHERE
			    mr.recipient_emp_no = #{empNo}
			    AND mr.recipient_msg_state = 0
			GROUP BY
			    m.msg_no) s
		GROUP BY 
			msgNo
		ORDER BY 
			msgOrder DESC
		LIMIT 
			#{beginRow},#{rowPerPage}

	</select>
	<update id="updateMsgDelete" parameterType="int">
		UPDATE
			msg
		SET
			msg_state = 9,
			state_update_datetime = NOW()
		WHERE 
			msg_state = 0
			AND msg_no = #{msgNo}
	
	</update>
	<update id="updateMsgDeleteAuto">
		UPDATE 
			msg
		SET 
			msg_state = 9,
			state_update_datetime = NOW()
		WHERE 
			CURDATE() >= DATE_FORMAT(state_update_datetime,'%Y-%m-%d') + INTERVAL 15 DAY
			AND msg_state = 0
	</update>
	<select id="selectMsgCntReceivedBox" parameterType="Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			msg m
		INNER JOIN
			msg_recipient mr ON m.msg_no = mr.msg_no
		INNER JOIN
			emp e ON e.emp_no = m.sender_emp_no
		WHERE
			mr.recipient_emp_no = #{empNo}
			AND mr.recipient_msg_state = 1
		<if test='readYN == "Y"'>
			AND mr.read_YN = 'Y'
		</if>
		<if test='readYN == "N"'>
			AND mr.read_YN = 'N'
		</if>

	</select>
	<select id="selectMsgCntSentBox" parameterType="Map" resultType="int">
    	SELECT COUNT(*)
    	FROM (
	        	SELECT
	            	m.msg_no
	        	FROM
	            	msg m
	        	INNER JOIN
	            	msg_recipient mr ON m.msg_no = mr.msg_no
	        	INNER JOIN
	            	emp e ON e.emp_no = mr.recipient_emp_no
	        	WHERE
		            m.sender_emp_no = #{empNo}
		            AND m.msg_state = 1
	        	GROUP BY 
	            	m.msg_no
	           	<if test='readYN == "Y"'>
	            	HAVING SUM(CASE WHEN mr.read_YN = 'Y' THEN 1 ELSE 0 END) = COUNT(mr.msg_no)
	        	</if>
	        	<if test='readYN == "N"'>
	            	HAVING SUM(CASE WHEN mr.read_YN = 'Y' THEN 1 ELSE 0 END) != COUNT(mr.msg_no)
	        	</if>
	            ) AS s;
	
	</select>
	<select id="selectMsgcntTrashBox" parameterType="int" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			(SELECT
			    m.msg_no msgNo,
			    sender.emp_name senderName,
			    GROUP_CONCAT(recipient.emp_name SEPARATOR ',') receiverName,
			    m.title,
			    DATE_FORMAT(m.state_update_datetime, '%Y-%m-%d %H:%i') updateDatetime
			 FROM
				msg m
			 INNER JOIN
    			emp sender ON m.sender_emp_no = sender.emp_no
			 INNER JOIN
    			msg_recipient mr ON m.msg_no = mr.msg_no
			 INNER JOIN
   				emp recipient ON mr.recipient_emp_no = recipient.emp_no
			 WHERE
    			m.sender_emp_no = #{empNo}
    			AND m.msg_state = 0
			 GROUP BY
   				m.msg_no
		UNION
			SELECT
			    m.msg_no msgNo,
			    sender.emp_name senderName,
			    e.emp_name receiverName,
			    m.title,
			    DATE_FORMAT(mr.state_update_datetime, '%Y-%m-%d %H:%i') updateDatetime
			FROM
			    msg m
			INNER JOIN
			    emp sender ON m.sender_emp_no = sender.emp_no
			INNER JOIN
			    msg_recipient mr ON m.msg_no = mr.msg_no
			INNER JOIN
			    emp e ON mr.recipient_emp_no = e.emp_no
			WHERE
			    mr.recipient_emp_no = #{empNo}
			    AND mr.recipient_msg_state = 0
			GROUP BY
			    m.msg_no) s
	</select>
</mapper>