<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.ProfileMapper">
	<insert id="insertProfileImg" parameterType="com.gd.foodbee.dto.ProfileDTO">
		INSERT INTO profile_img(
			emp_no,
			original_file,
			save_file,
			type,
			create_datetime,
			update_datetime
		) VALUES (
			#{empNo},
			#{originalFile},
			#{saveFile},
			#{type},
			NOW(),
			NOW()
		)
		
	</insert>
	<select id="updateProfileImg" parameterType="com.gd.foodbee.dto.ProfileDTO">
		UPDATE
			profile_img
		SET
			original_file = #{originalFile},
			save_file = #{saveFile},
			type = #{type},
			create_datetime = #{createDatetime},
			update_datetime = #{updateDatetime}
		WHRER
			emp_no = #{empNo}
	</select>

</mapper>