<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.RevenueMapper">
	
	<!-- 해당 월 매출액 출력 -->
	<select id="selectMonthRevenue" parameterType="String" resultType="com.gd.foodbee.dto.RevenueDTO">
		SELECT 
			reference_month referenceMonth,
			category_name categoryName, 
			drafter_emp_no drafterEmpNo, 
			revenue
		FROM 
			revenue_history
		WHERE 
			reference_month = #{referenceMonth};
	</select>
	
	<!-- 해당년도 전체 매출 -->
	<select id="selectTotalRevenue" parameterType="String" resultType="com.gd.foodbee.dto.RevenueDTO">
		SELECT 
			reference_month referenceMonth,
			category_name categoryName,
			drafter_emp_no drafterEmpNo,
			revenue
		FROM 
			revenue_history
		WHERE 
			reference_month LIKE CONCAT(#{referenceMonth}, '%')
	</select>
	
	<!-- 카테고리 별 매출 -->
	<select id="selectCategoryRevenue" parameterType="com.gd.foodbee.dto.RevenueDTO" resultType="com.gd.foodbee.dto.RevenueDTO">
		SELECT 
			reference_month referenceMonth,
			category_name categoryName,
			drafter_emp_no drafterEmpNo,
			revenue
		FROM 
			revenue_history
		WHERE 
			category_name = #{categoryName} 
			AND reference_month LIKE CONCAT(#{referenceMonth}, '%')
	</select>
	
	<!-- 사용 가능한 연도를 가져옴 -->
    <select id="selectYear" resultType="String">
		SELECT 
        	DISTINCT SUBSTRING(reference_month, 1, 4) year
        FROM 
        	revenue_history
    </select>
	
</mapper>