<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.RoomMapper">
<select id="selectRoomList" resultType="Map">
		SELECT 
			info.room_name roomName, info.room_place roomPlace, info.room_no roomNo, 
			info.room_max roomMAX, img.original_file, img.save_file
		FROM 
			room_info info INNER JOIN room_img img
		ON 	
			info.room_no = img.room_no
		WHERE 
			img.img_order = 1
	</select>
	
	<select id="selectRoomOne" resultType="com.gd.foodbee.dto.RoomDTO" parameterType="int">
		SELECT 
		    info.room_name roomName, info.info info, 
		    info.room_place roomPlace, info.room_max roomMax, 
		    GROUP_CONCAT(img.original_file SEPARATOR ', ') originalFiles, 
		    GROUP_CONCAT(img.save_file SEPARATOR ', ') saveFiles
		FROM 
		    room_info info INNER JOIN room_img img 
		ON	
			info.room_no = img.room_no
		WHERE 
		    info.room_no = #{roomNo}
	</select>
	
	<insert id="insertRoomRsv" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		INSERT INTO room_rsv (
			room_no, 
			emp_no, 
			rsv_date, 
			start_datetime, 
			end_datetime, 
			type)
		VALUES (
 			#{roomNo}, 
 			1, 
 			#{rsvDate}, 
 			CONCAT(#{rsvDate}, ' ', #{startTime}),
        	CONCAT(#{rsvDate}, ' ', #{endTime}),
 			#{type})
	</insert>
	<!-- 선택된 날짜에 예약된 시간을 출력 -->
	<select id="selectReservedTimes" resultType="Map" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		SELECT 
		 	rsv_date rsvDate, start_datetime startDateTime, 
		 	end_datetime endDateTime, rsv_state rsvState
		FROM
		 	room_rsv
		WHERE
		 	rsv_date = #{rsvDate}
	</select>
	<!-- 선택된 날짜별 전체 예약리스트 출력 -->
	<select id="selectRsvListByDate" resultType="Map" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		SELECT 
		    emp.emp_no empNo, emp.emp_name empName, info.room_name roomName, 
		    rsv.rsv_date rsvDate, rsv.start_datetime startDateTime, 
		    rsv.end_datetime endDateTime, rsv.rsv_state rsvState
		FROM 
		    room_rsv rsv 
		INNER JOIN 
			emp		 
			ON rsv.emp_no = emp.emp_no 
		INNER JOIN 
			room_info info 
			ON rsv.room_no = info.room_no
		WHERE 
			rsv.rsv_date = #{rsvDate}
	</select>
	<!-- 내 예약리스트 출력 -->
	<select id="selectRsvListByEmpNo" resultType="Map" parameterType="int">
		SELECT 
		    emp.emp_no empNo, emp.emp_name empName, info.room_name roomName, 
		    rsv.rsv_date rsvDate, rsv.start_datetime startDateTime, 
		    rsv.end_datetime endDateTime, rsv.rsv_state rsvState
		FROM 
		    room_rsv rsv 
		INNER JOIN 
			emp		 
			ON rsv.emp_no = emp.emp_no 
		INNER JOIN 
			room_info info 
			ON rsv.room_no = info.room_no
		WHERE 
			emp.emp_no = #{empNo}
	</select>
</mapper>