<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.foodbee.mapper.RoomMapper">

	<!-- 회의실 목록 -->
	<select id="selectRoomList" resultType="Map">
		SELECT 
			info.room_name roomName, 
			info.room_place roomPlace, 
			info.room_no roomNo, 
			info.room_max roomMAX, 
			img.original_file, 
			img.save_file
		FROM 
			room_info info 
		INNER JOIN 
			room_img img ON info.room_no = img.room_no
		WHERE 
			img.img_order = 1
	</select>

	<!-- 회의실 상세보기 및 예약폼 -->
	<select id="selectRoomOne" resultType="com.gd.foodbee.dto.RoomDTO" parameterType="int">
		SELECT 
		    info.room_name roomName, 
		    info.info info, 
		    info.room_place roomPlace, 
		    info.room_max roomMax, 
		    GROUP_CONCAT(img.original_file SEPARATOR ', ') originalFiles, 
		    GROUP_CONCAT(img.save_file SEPARATOR ', ') saveFiles
		FROM 
		    room_info info 
		INNER JOIN 
			room_img img ON	info.room_no = img.room_no
		WHERE 
		    info.room_no = #{roomNo}
	</select>
	
	<!-- 회의실 예약 -->
	<insert id="insertRoomRsv" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		INSERT INTO 
			room_rsv (
				room_no, 
				emp_no, 
				rsv_date, 
				start_datetime, 
				end_datetime, 
				type,
				meeting_title,
				meeting_reason,
				users)
			VALUES (
	 			#{roomNo}, 
	 			#{empNo}, 
	 			#{rsvDate}, 
	 			CONCAT(#{rsvDate}, ' ', #{startTime}),
	        	CONCAT(#{rsvDate}, ' ', #{endTime}),
	 			#{type},
	 			#{meetingTitle},
				#{meetingReason},
				#{users})
	</insert>
	
	<!-- 회의실 번호, 선택된 날짜에 예약된 시간을 출력 -->
	<select id="selectReservedTimes" resultType="Map" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		SELECT 
		 	rsv_date rsvDate, 
		 	rsv_state rsvState,  
		 	DATE_FORMAT(start_dateTime, '%H:%i') startTime, 
			DATE_FORMAT(end_dateTime, '%H:%i') endTime
		FROM
		 	room_rsv
		WHERE
		 	rsv_date = #{rsvDate} 
			AND
			room_no = #{roomNo}
	</select>
	
	<!-- 선택된 날짜별 전체 예약리스트 출력 -->
	<select id="selectRsvListByDate" resultType="Map" parameterType="Map">
		SELECT 
		    rsv.rsv_no rsvNo,
		    emp.emp_no empNo, 
		    emp.emp_name empName, 
		    info.room_name roomName, 
		    rsv.rsv_date rsvDate, 
		    DATE_FORMAT(rsv.start_dateTime, '%H:%i') startTime, 
		    DATE_FORMAT(rsv.end_dateTime, '%H:%i') endTime, 
		    rsv.rsv_state rsvState,
		    rsv.meeting_title meetingTitle,
		    rsv.meeting_reason meetingReason,
		    rsv.users users
		FROM 
		    room_rsv rsv 
		INNER JOIN 
			emp	ON rsv.emp_no = emp.emp_no 
		INNER JOIN 
			room_info info	ON rsv.room_no = info.room_no
		WHERE 
			rsv.rsv_date = #{rsvDate}
		ORDER BY
			startTime ASC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 선택된 날짜 예약 총갯수 -->
	<select id="selectRsvCntByDate" resultType="int" parameterType="String">
		SELECT
			COUNT(*) cnt
		FROM  
			room_rsv
		WHERE 
			rsv_date = #{rsvDate}
	</select>
	
	<!-- 내 예약리스트 출력 -->
	<select id="selectRsvListByEmpNo" resultType="Map" parameterType="Map">
		SELECT 
			rsv.rsv_no rsvNo,
		    emp.emp_no empNo, 
		    emp.emp_name empName, 
		    info.room_name roomName, 
		    rsv.rsv_date rsvDate, 
		    DATE_FORMAT(rsv.start_dateTime, '%H:%i') startTime, 
		    DATE_FORMAT(rsv.end_dateTime, '%H:%i') endTime,  
		    rsv.rsv_state rsvState,
   		    rsv.meeting_title meetingTitle,
		    rsv.meeting_reason meetingReason,
		    rsv.users users
		FROM 
			room_rsv rsv 
		INNER JOIN 
			emp ON rsv.emp_no = emp.emp_no 
		INNER JOIN 
			room_info info ON rsv.room_no = info.room_no
		WHERE 
			emp.emp_no = #{empNo}
			AND
			rsv.rsv_state = 1 
		ORDER BY 
			rsvDate DESC, 
			startTime ASC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 내 예약 총갯수 -->
	<select id="selectRsvCntByEmpNo" resultType="int" parameterType="int">
		SELECT 
			COUNT(*) cnt		
		FROM  
			room_rsv		
		WHERE 
			emp_no = #{empNo}
	</select>
	
	<!-- 예약 취소 -->
	<update id="updateRoomRsv" parameterType="com.gd.foodbee.dto.RoomRsvDTO">
		UPDATE 
			room_rsv 
		SET 
			rsv_state = 0
		WHERE 
			emp_no = #{empNo}
			AND
			TIME(start_datetime) = #{startTime} 
			AND 
			rsv_date = #{rsvDate}
	</update>
</mapper>